div {
    background: #bbccff;
    border: 1px solid black;
    padding: 10px;
    margin: 2px;
    width: 100px;
    display: inline-block;
}

/* Display Inline so funciona com apenas uma coisa dentro da div */

/* .div1 {

}

.div2 {
} */